body{
  	font-family:Arial;
  	margin:2%;
  	padding:2%;
  	border:2px;
  	max-width:1000px;
  	min-width:300px;
}
h1{
  	font-size: 50px;
}
h2{
  	font-size: 35px;
}
h3{
  	font-size: 25px;
}
p{
  	font-size: 20px;
}
li{
  	font-size: 20px;
}
img{
	width:1000px;
}