body{
	background-color:white;
	font-family:Arial;
	margin:0%;
}
#logg{
	min-width:700px;
	margin-right:auto;
    	margin-left:auto;
	background-color:white;
	border-color:white;
	color:black;
	height:2em;
}
#logg ul li{
	display:inline;
}
#logg ul li a{
	color:black;
	padding:1.5%;
	font-size:1.2em;
}
#mainCon{
	clear:both;
	border-style:solid;
	padding:0%;
}	
article{
	background-color:white;
	padding:2%;
	
	max-width:1024px;
	min-width:700px;
	margin-right:auto;
    	margin-left:auto;
    	margin-top:0%;
	min-height:770px;
    	color:black;
}
@font-face
{
font-family:Starjedi;
src: url(starjedi/Starjhol.ttf);
}
header{
	font-family:Starjedi;
	font-size:3em;

	text-align:center;
	border-style:solid;
	margin:-0.25%;
}
h1{
	margin:0;
}

.navS{
	text-align:center;
	border:none;
	padding:0%;
	margin:0%;
	
	width:10%;
	float:left;
	margin-top:0%;
	padding-top:0%;
}
ul{
	list-style-type:none;
	border:none;
	margin:0%;
	padding:0%;
}
li{
	border:none;
	padding:0%;
	margin:0%;
	margin-top:10px;
}
.navA{
	color:black;
	background-color:rgba(0,0,0,0.0);
	text-align:center;
	display:block;
	width:80%;
	margin:5%;
	
	border-style:solid;
	border-color:black;
}
.navA:hover,.navA:active{
	color:white;
	background-color:black;
	border-color:black;
}
.button{
	cursor: pointer;
	text-align:center;
	display:block;
	width:80%;
	margin:5%;
	margin-top:10px;
	border-style:solid;
}
.button:hover,.button:active{
	color:white;
	background-color:black;
	border-color:black;
}
.chHide{
	display:none;
}
.hide{
	display:none;
}
.exHide{
	display:none;
}
.style{
	display:none;
}
#style1{
	color:red;
	background-color:black;
	text-align:center;
	display:block;
	width:80%;
	margin:5%;
	border-style:solid;
	border-color:red;
}
#style1:hover, #style1:active{
	color:black;
	background-color:red;
}
#style2{
	color:yellow;
	background-color:#006;
	text-align:center;
	display:block;
	width:80%;
	margin:5%;
	border-style:solid;
	border-color:#00a;
}
#style2:hover,#style2:active{
	color:#00a;
	background-color:yellow;
}
#style3{
	color:black;
	background-color:white;
	text-align:center;
	display:block;
	width:80%;
	margin:5%;
	border-style:solid;
	border-color:black;
}
#style3:hover, #style3:active{
	color:white;
	background-color:black;
}
#style4{
	color:gold;
	background-color:rgba(100,100,100,0.2);
	text-align:center;
	display:block;
	width:80%;
	margin:5%;
	border-style:solid;
	border-color:gold;
}
#style4:hover,#style4:active{
	color:black;
	background-color:gold;
}
section{
	background-color:rgba(255,255,255,0.2);
	border:none;
	
	float:left;
	padding:1%;
	max-width:77.5%;
	position:relative;
	margin-top:0.25%;
}
hr{
	border-style:solid;
	color:black;
	background-color:black;
	border-color:black;
}
#secNav{
	background-color:rgba(0,0,0,0.0);
	float:right;
	width:100%;
	max-width:7em;
}
#secNav li{
	display:inline-block;
}
.floatR{
	float:right;
}
a{
	text-decoration:none;
	padding:0%;
	margin:0%;
}
.hideInCss{
	visibility:hidden;
	position:absolute;
}
#arrowL{
	background:url('pictures/arrowL.svg') no-repeat 70% 70% / cover;
	width:3em;
	height:3em;	
}
#arrowL:hover,#arrowL:active{
	background:url('pictures/arrowLH.svg') no-repeat 70% 70% / cover;
}
#arrowR{
	background:url('pictures/arrowR.svg') no-repeat 70% 70% / cover;
	width:3em;
	height:3em;
}
#arrowR:hover,#arrowR:active{
	background:url('pictures/arrowRH.svg') no-repeat 70% 70% / cover;
}
footer{
	background-color:rgba(0,0,0,0.0);
	border-style:solid;
	margin:-0.25%;
	padding:1%;
	clear:both;
	height:1em;
}
address{
	width:70%;
	margin:0%;
	padding:0%;
	float:left;
}
.link{
	color:black;
}
.link:hover, .link:active{
	text-decoration:underline;
}
#easter{
	width:350px;
	position:absolute;
}
.li{
	list-style-type:disc;
	margin-left:3em;
}
.reg{
	width:10em;
	margin-right:auto;
    	margin-left:auto;
}