body{
	background-color:#333;
	font-family:Ariel;
	margin-top:0%;
	margin-bottom:0%;
}
article{
	background:url('pictures/space.jpg');
	padding:2%;
	
	max-width:1024px;
	min-width:700px;
	margin-right:auto;
    	margin-left:auto;
}
header{
	color:#ffd700;
	font-size:2em;
	background-color:rgba(0,0,0,0.0);
	text-align:center;
	border-style:solid;
	border-color:#ffd700;
	margin:-0.25%;
}
#mainCon{
	border-style:solid;
	border-color:#ffd700;
	border-width:0.5%;
	padding:0%;
}
nav{	
	text-align:center;
	background-color:rgba(0,0,0,0.0);
	border:none;
	padding:0%;
	margin:0%;
	
	width:10%;
	float:left;
}
#navR{
	margin-top:0%;
	padding-top:0%;
	padding-left:0.1%;
}
ul{
	list-style-type:none;
	border:none;
	margin:0%;
	padding:0%;
}
li{
	border:none;
	padding:0%;
	margin:0%;
	margin-top:10px;
}
.navA{
	color:#ffd700;
	background-color:rgba(0,0,0,0.0);
	text-align:center;
	display:block;
	width:80%;
	margin:5%;
	
	
	border-style:solid;
	border-color:#ffd700;
}
.navA:hover,.navA:active{
	color:#000;
	background-color:#ffd700;
}
.chHide{
	display:none;
}
.hide{
	display:none;
}
section{
	color:gold;
	background-color:rgba(255,255,255,0.2);
	border:none;
	
	float:left;
	padding:1%;
	max-width:77.5%;
	position:relative;
	margin-top:0.25%;
}
hr{
	color:#ffd700;
	background-color:#ffd700;
}
#secNav{
	background-color:rgba(0,0,0,0.0);
	float:right;
	width:100%;
	max-width:7em;
}
#secNav li{
	display:inline-block;
}
#liFR{
	float:right;
}
a{
	text-decoration:none;
}
.hideInCss{
	visibility:hidden;
	position:absolute;
}
#arrowL{
	background:url('pictures/arrowL.svg') no-repeat 70% 70% / cover;
	width:3em;
	height:3em;	
}
#arrowL:hover,#arrowL:active{
	background:url('pictures/arrowLH.svg') no-repeat 70% 70% / cover;
}
#arrowR{
	background:url('pictures/arrowR.svg') no-repeat 70% 70% / cover;
	width:3em;
	height:3em;
}
#arrowR:hover,#arrowR:active{
	background:url('pictures/arrowRH.svg') no-repeat 70% 70% / cover;
}
footer{
	color:#ffd700;
	background-color:rgba(0,0,0,0.0);
	border-style:solid;
	border-color:#ffd700;
	margin:-0.25%;
	padding:1%;
	clear:both;
}
#easter{
	width:350px;
	position:absolute;
}

@media all and (max-width:800px){
	#secNav{
		
	}
}